<footer class="sticky-bottom bg-light rounded-top p-2">
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-sm-4 text-center">
                <h5>Acerca de nosotros</h5>
                <p>Teléfono: 3208761006</p>
                <p>Email: <a href="mailto:flowstore@flowstore.com">flowstore&#64;flowstore.com</a></p>
            </div>
            <div class="col-12 col-sm-4 text-end justify-content-center d-flex flex-column">
               <p>Realizado por Juan Rodriguez</p> 
            </div>
            <div class="col-12 col-sm-4 text-end justify-content-center d-flex flex-column">
                <p>&copy; <a href="#">Acueductos</a>, Juan 2024</p>
            </div>
        </div>
    </div>
</footer>