<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
  <a class="navbar-brand d-flex d-lg-none me-4">
    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
  </a>
  <a *ngIf="showSidebar" (click)="toggleSidebar()" class="sidebar-toggler flex-shrink-0 cursor-pointer">
    <i class="fa fa-bars"></i>
  </a>

  <a *ngIf="!showSidebar"(click)="toggleSidebar()" class="sidebar-toggler flex-shrink-0 cursor-pointer">
    <i class="fa fa-bars buton-toggle"></i>
  </a>
 

  <div class="navbar-nav align-items-center ms-auto">    
    <i *ngIf="cart !== 0" routerLink="/public/carrito" style="cursor: pointer;" class="fa fa-shopping-cart fa-lg"></i>
<i *ngIf="cart === 0" routerLink="/public/carrito" style="cursor: pointer;" class="fa fa-cart-arrow-down fa-lg"></i>
    <div *ngIf="authService.loggedIn()" class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <img class="rounded-circle me-lg-2" src="assets/img/user.png" alt="" style="width: 40px; height: 40px;">
        <span class="d-none d-lg-inline-flex">Myaccount</span>
      </a>
      <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
        <button class="dropdown-item" (click)="authService.logOut()">Cerrar sesión</button>
      </div>
    </div>
    <a *ngIf="!authService.loggedIn()" (click)="onMyAccountClick()" class="nav-link">
      <img class="rounded-circle me-lg-2" src="assets/img/user.png" alt="" style="width: 40px; height: 40px;">
      <span class="d-none d-lg-inline-flex">Myaccount</span>
    </a>
  </div>

</nav>

