<section class="home-section">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <h1>Bienvenido a FlowStore</h1>
        <p>Bienvenido a FlowStore, tu destino de confianza para todas tus necesidades de herramientas para acueductos. Ofrecemos una amplia gama de productos de alta calidad para sistemas de acueductos, desde tuberías y válvulas hasta equipos de filtración y más. Navega por nuestra tienda y descubre soluciones eficientes y duraderas para tu proyecto.</p>
      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img class="logo-api" src="../assets/img/online-shopping.png" alt="Logo de api" style="margin-top: -50px;" />
      </div>
    </div>
  </div>
</section>