<div class="modal-header">
    <h4 class="modal-title pull-left">Iniciar sesión</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="btnCancelar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group mb-3">
        <label for="username">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="auth.usuario">
      </div>
      <div class="form-group mb-3">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="auth.contrasenia">
      </div>
      <button type="button" (click)="btnLogin()" class="btn btn-primary mb-3 me-3">Iniciar sesión</button>
      <button type="button" (click)="btnRegister()"  class="btn btn-primary mb-3">Registrarse</button>
    </form>
  </div>